{% extends "home_template.html" %}

{% block title%}Vallheru - Login{% endblock %}

{% block content %}
    <div class="lg:w-3/5 md:w-full text-black alegreya-sc-medium-italic">
        <div>
            <div class="text-4xl text-center mb-4">Enter Vallheru</div>

            <p class="text-lg text-center mt-8">
                Step into a world of imagination and adventure. Log in to continue your journey!
            </p>
            
            {% if login_error is defined %}
                <div
                    class="mt-8 text-lg text-center text-red-500"
                >
                    {% if login_error == "InvalidCredentials" %}
                        Invalid password or email
                    {% elif login_error == "SessionSetupError" %}
                        Session setup error
                    {% else %}
                        Internal error
                    {% endif %}
                </div>
            {% endif %}

            <form class="max-w-sm mx-auto mt-10" method="post">
                <div class="mb-8 {{ macros.common_css("form") }}">
                    <label for="login-email" class="text-black pr-3">
                        Email:
                    </label>
                    <input
                        type="email"
                        name="email"
                        id="login-email"
                        class="text-black bg-transparent outline-none border-none"
                        placeholder="example@email.com"
                        node_ref=email_element
                        required
                    />
                </div>

                <div class="mb-12 {{ macros.common_css("form") }}">
                    <label for="login-password" class="text-black pr-3">
                        Password:
                    </label>
                    <input
                        type="password"
                        name="password"
                        id="login-password"
                        class="text-black bg-transparent outline-none border-none"
                        placeholder="password"
                        node_ref=password_element
                        required
                    />
                </div>

                <div class="mb-3">
                    <button
                        class="{{ macros.common_css("button") }}"
                    >
                        Log in
                    </button>
                </div>

                <p class="alegreya-sc-medium-italic">
                    <a href="/reset-password">Reset password</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}