{% extends "home_template.html" %}

{% block title%}Vallheru - Welcome{% endblock %}

{% block content %}
    <div class="lg:w-3/5 md:w-full text-black alegreya-sc-medium-italic">
        <div>
            <div
                class="mt-14 text-3xl text-center text-black-500"
            >
                <a href="/game/news">
                    Welcome to the realm of Vallheru for the {{ to_ordinal(login_count) }} time<br />
                    Click here to enter the game!
                </a>
            </div>
        </div>
    </div>
{% endblock %}