{% extends "home_template.html" %}

{% block title%}Vallheru - Home {% endblock %}

{% block content %}
<div class="lg:w-3/5 md:w-full text-black alegreya-sc-medium-italic">
    <div class="text-4xl text-center mb-4">The Realm's Whisper</div>

    <div class="mb-8">
        <h2 class="text-xl pb-4">Exploring the Depths</h2>
        <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula, augue
            eu interdum cursus, turpis ligula fermentum eros, a sagittis mauris est non enim.
            Ut et tortor at nisi gravida venenatis. Aliquam erat volutpat. Aenean hendrerit
            malesuada enim vel sagittis. Donec id ligula in nunc blandit cursus. Curabitur
            accumsan lectus ut sapien vestibulum, et tempus metus laoreet. Nam posuere, sapien
            a iaculis varius, lacus purus efficitur dolor, id tempus enim magna a ligula.
        </p>
        <p class="text-right mt-2">
            <a href="/news">Read more</a>
        </p>
    </div>

    <div class="mb-8">
        <h2 class="text-xl pb-4">The Rise of Heroes</h2>
        <p class="text-justify">
            Orbi ut eros dignissim, tincidunt sem id, volutpat sapien. Aenean condimentum,
            metus vitae consectetur pretium, purus nisl scelerisque nulla, nec viverra arcu
            nunc a velit. Sed faucibus, augue vel faucibus ultricies, est libero vehicula metus,
            in aliquam dolor nulla vel nunc. In dictum, neque non tempus gravida, nulla ipsum
            interdum ligula, ut eleifend erat justo nec risus.
        </p>
        <p class="text-right mt-2">
            <a href="/news">Read more</a>
        </p>
    </div>

    <div class="mb-8">
        <h2 class="text-xl pb-4">Unveiling the Secrets</h2>
        <p class="text-justify">
            Aliquam malesuada varius felis, at pretium mi dignissim quis. Nunc facilisis sapien
            eu augue fermentum, nec fringilla tortor vehicula. Integer ullamcorper, nunc quis
            gravida convallis, nisi erat fermentum urna, eu pellentesque purus felis non ex.
            Nam tincidunt, magna a ultrices pharetra, orci metus pellentesque justo, in mollis
            nulla justo nec nisi. Donec at venenatis augue. Vivamus ultricies odio eget tortor
            aliquam tristique. Nulla facilisi. Phasellus fermentum purus in neque fermentum,
            ut hendrerit dolor rhoncus.
        </p>
        <p class="text-right mt-2">
            <a href="/news">Read more</a>
        </p>
    </div>
</div>
{% endblock %}