{% extends "game_template.html" %} {% block title%}Vallheru - Player statistics / Select bloodline{% endblock %}


{% block content %}
<div>
  <p class="text-center">Player statistics / Select bloodline</p>

  {% if select|length > 0 %}
    {% if select == "human" %}

    {% elif select == "elf" %}

    {% elif select == "dwarf" %}

    {% elif select == "hobbit" %}

    {% elif select == "reptilian" %}

    {% elif select == "gnome" %}

    {% endif %}
  {% else %}
    <p class="my-3">
      Here, you may choose the lineage that shapes your destiny. Each race bears its own gifts and burdens,
      shaping the path you will walk (their secrets are revealed upon clicking the link). Choose wisely,
      for once your bloodline is set, it cannot be undone.
    </p>

    <ul>
      <li>- <a href="/game/player-statistics/select-bloodline?race=human">Human</a></li>
      <li>- <a href="/game/player-statistics/select-bloodline?race=elf">Elf</a></li>
      <li>- <a href="/game/player-statistics/select-bloodline?race=dwarf">Dwarf</a></li>
      <li>- <a href="/game/player-statistics/select-bloodline?race=hobbit">Halfling</a></li>
      <li>- <a href="/game/player-statistics/select-bloodline?race=reptilian">Lizardfolk</a></li>
      <li>- <a href="/game/player-statistics/select-bloodline?race=gnome">Gnome</a></li>
    </ul>
    <p class="mt-3">
      <a href="/game/player-statistics">(return)</a>
    </p>
  {% endif %}
</div>
{% endblock %}
